@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

.body {
  background-color: #F6F6F6;
}

/* BANNER START */

.banner {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .nike-logo {
    position: absolute;
    top: -70px;
    left: 125px;
    background: none;
  }

.banner-image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
  
 /* BANNER END */

 /* CARDS START */


.container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.card {
    width: 24rem;
    height: 40rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: black;
    box-shadow: 0 1px 5px 1px rgba(151, 151, 151, 0.2);
    background-color: #F6F6F6;

 
  img {
    position: absolute;
    object-fit: cover;
    height: 75%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }

  h2 {
    position: absolute;
    inset: auto auto 20px 20px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-weight: normal;
    text-transform: uppercase;
  }
  
  p, a {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
  }
  
  p {
    inset: auto auto 80px 30px;
  }
  
  a {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
  }
  
  &:hover h2 {
    inset: auto auto 200px 30px;
    transition: inset .3s ease-out;
  }
  
  &:hover p, &:hover a {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
  }
  
  &:hover img {
    transition: opacity .3s ease-in;
    opacity: 1;
  }

}

.material-symbols-outlined {
    vertical-align: middle;
}

.card:hover {
    box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in;
}

/* CARDS END */

/* SECTION HEADERS START */

.section-header {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.grey {
  color: rgb(157, 157, 157);
  text-decoration: line-through;
  padding-left: 5px;
  padding-right: 5px;
}

.green {
  color: green;
  padding-left: 5px;
}

/* SECTION HEADERS END */

/* FOOTER START */

.footer {
  margin-top: 150px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: black;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content:space-around;
  font-size: 20px;
}

.footer div {
  text-align: center;
}

.footer div h3 {
  font-weight: 500;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.column-1 a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
}

form input {
  width: 400px;
  height: 45px;
  border-radius: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: none;
}

.subscribe-now {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
}

input:focus::placeholder {
  color: transparent;
}

/* FOOTER END */



